<!-- logo -->
<div class="logo-fixed">
    <a href="/"><img src="./img/logo_big.png" alt="" style="display: block; margin: 0px auto;"></a>
</div>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav m-auto">
                <li id="first_li" class="nav-item">
                    <a class="nav-link" href="about.html">패션</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services.html">생필품</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">취미</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="portfolio-1-col.html">디지털/IT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog-home-1.html">기타</a>
                </li>
            </ul>
            <a href="login.html"><button class="btn btn-primary" type="button">로그인</button></a>
        </div>
    </div>
</nav>