<!DOCTYPE html>
<html lang="en">

<%- include('./includes/head.ejs') %>

<body>
  <%- include('./includes/logo.ejs') %>
  <div>
   <!-- Page Content -->
  <iframe src="item_add_content" frameborder="0" style="overflow:hidden; width:100vw; height: 115vh"></iframe>
  <!-- /.container -->
    <%- include('./includes/footer.ejs') %>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </div>
</body>

</html>