<!DOCTYPE html>
<html lang="en">

<%- include('./includes/head.ejs') %>

<body>
    <%- include('./includes/logo.ejs') %>
    <div>
        <!-- Page Content -->
        <div class="container">

            <h1 class="my-4">여기서 부터 시작 합니다 4989 여기에 뭘 넣을까</h1>
            <h3 class="my-4"><%=category%></h3>
            <!-- Search Section -->
            <div class="input-group" style="width: 450px; margin-bottom: 15px;">
                <input type="text" style="width: 300px;" class="form-control">
                <span class="input-group-btn">
                    <button style="margin-left: 15px;" class="btn btn-secondary" type="button">검색</button>
                </span>
            </div>
            <!-- Portfolio Section -->
            <h2>인기품목</h2>

            <div class="row">
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="hovereffect">
                        <img src="http://placehold.it/700x400" alt="">
                        <div class="overlay">
                            <a class="info" href="item_info">
                                <div>
                                    <span>현재가격 : </span>
                                    <span>3,000,000</span>
                                </div>
                                <div>
                                    <span>남은시간 : </span>
                                    <span>5일 17시간 14분 34초</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="hovereffect">
                        <img src="http://placehold.it/700x400" alt="">
                        <div class="overlay">
                            <a class="info" href="item_info">
                                <div>
                                    <span>현재가격 : </span>
                                    <span>3,000,000</span>
                                </div>
                                <div>
                                    <span>남은시간 : </span>
                                    <span>5일 17시간 14분 34초</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="hovereffect">
                        <img src="http://placehold.it/700x400" alt="">
                        <div class="overlay">
                            <a class="info" href="item_info">
                                <div class="auction_info">
                                    <div>
                                        <span>현재가격 : </span>
                                        <span>3,000,000</span>
                                    </div>
                                    <div>
                                        <span>남은시간 : </span>
                                        <span>5일 17시간 14분 34초</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Section -->
            <h2>현재 진행 경매</h2>

            <div class="row">
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="item_info.html">Project One</a>
                            </h4>
                            <p class="card-text">
                                <div style="display: inline-block; width: 350px;">
                                    <span style="font-size: 16px;">현재가격 : </span>
                                    <span style="font-size: 18px;">1,000,000</span>
                                </div>
                                <div style="margin-bottom: 15px;">
                                    <span style="font-size: 16px;">남은시간 : </span>
                                    <span style="font-size: 16px;">6일 23시간 33분 56초</span>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Project Two</a>
                            </h4>
                            <p class="card-text">
                                <div style="display: inline-block; width: 350px;">
                                    <span style="font-size: 16px;">현재가격 : </span>
                                    <span style="font-size: 18px;">3,000,000</span>
                                </div>
                                <div style="margin-bottom: 15px;">
                                    <span style="font-size: 16px;">남은시간 : </span>
                                    <span style="font-size: 16px;">5일 17시간 14분 34초</span>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Project Three</a>
                            </h4>
                            <p class="card-text">
                                <div style="display: inline-block; width: 350px;">
                                    <span style="font-size: 16px;">현재가격 : </span>
                                    <span style="font-size: 18px;">2,000,000</span>
                                </div>
                                <div style="margin-bottom: 15px;">
                                    <span style="font-size: 16px;">남은시간 : </span>
                                    <span style="font-size: 16px;">1일 12시간 1분 23초</span>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Project Four</a>
                            </h4>
                            <p class="card-text">
                                <div style="display: inline-block; width: 350px;">
                                    <span style="font-size: 16px;">현재가격 : </span>
                                    <span style="font-size: 18px;">1,000,000</span>
                                </div>
                                <div style="margin-bottom: 15px;">
                                    <span style="font-size: 16px;">남은시간 : </span>
                                    <span style="font-size: 16px;">6일 23시간 33분 56초</span>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Project Five</a>
                            </h4>
                            <p class="card-text">
                                <div style="display: inline-block; width: 350px;">
                                    <span style="font-size: 16px;">현재가격 : </span>
                                    <span style="font-size: 18px;">3,000,000</span>
                                </div>
                                <div style="margin-bottom: 15px;">
                                    <span style="font-size: 16px;">남은시간 : </span>
                                    <span style="font-size: 16px;">5일 17시간 14분 34초</span>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Project Six</a>
                            </h4>
                            <p class="card-text">
                                <div style="display: inline-block; width: 350px;">
                                    <span style="font-size: 16px;">현재가격 : </span>
                                    <span style="font-size: 18px;">2,000,000</span>
                                </div>
                                <div style="margin-bottom: 15px;">
                                    <span style="font-size: 16px;">남은시간 : </span>
                                    <span style="font-size: 16px;">1일 12시간 1분 23초</span>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <!-- Call to Action Section -->
            <div class="row mb-4">
                <div class="col-md-10">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum
                        deleniti
                        beatae veniam harum neque nemo praesentium cum alias asperiores commodi.
                    </p>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
                </div>
            </div>

        </div>
        <!-- /.container -->
        <%- include('./includes/footer.ejs') %>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </div>
</body>

</html>